<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.click.carservice.db.mapper.CarServiceOrderVerificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.click.carservice.db.domain.CarServiceOrderVerification">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="goods_id" property="goodsId" />
        <result column="order_sn" property="orderSn" />
        <result column="storage_id" property="storageId" />
        <result column="toubao_sn" property="toubaoSn" />
        <result column="address" property="address" />
        <result column="verification_time" property="verificationTime" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="order_status" property="orderStatus" />
        <result column="version" property="version" />
    </resultMap>

</mapper>
