<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.click.carservice.db.mapper.CarServiceInsuranceInfoMapper">


    <resultMap type="org.click.carservice.db.domain.CarServiceInsuranceInfo" id="CarServiceInsuranceInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="carId"    column="car_id"    />
        <result property="insureUser"    column="insure_user"    />
        <result property="insureUserPhone"    column="insure_user_phone"    />
        <result property="insureNum"    column="insure_num"    />
        <result property="insureCompany"    column="insure_company"    />
        <result property="insureTime"    column="insure_time"    />
        <result property="insureEndTime"    column="insure_end_time"    />
        <result property="addTime"    column="add_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="version"    column="version"    />
        <collection property="carServiceInsuranceServiceList" notNullColumn="sub_id" javaType="java.util.List" resultMap="CarServiceInsuranceServiceResult" />
    </resultMap>

    <resultMap type="org.click.carservice.db.domain.CarServiceInsuranceService" id="CarServiceInsuranceServiceResult">
        <result property="id"    column="sub_id"    />
        <result property="insuranceInfoId"    column="sub_insurance_info_id"    />
        <result property="serviceName"    column="sub_service_name"    />
        <result property="serviceCode"    column="sub_service_code"    />
        <result property="serviceTotal"    column="sub_service_total"    />
        <result property="serviceUsed"    column="sub_service_used"    />
        <result property="addTime"    column="sub_add_time"    />
        <result property="updateTime"    column="sub_update_time"    />
        <result property="deleted"    column="sub_deleted"    />
        <result property="tenantId"    column="sub_tenant_id"    />
        <result property="version"    column="sub_version"    />
    </resultMap>

    <sql id="selectCarServiceInsuranceInfoVo">
        SELECT
            csi.id, csi.user_id, csi.car_id, csi.insure_user, csi.insure_user_phone,
            csi.insure_num, csi.insure_company, csi.insure_time, csi.insure_end_time,
            csi.add_time, csi.update_time, csi.deleted, csi.tenant_id, csi.version,
            cis.id AS sub_id, cis.insurance_info_id AS sub_insurance_info_id,
            cis.service_name AS sub_service_name,
            cis.service_code AS sub_service_code,
            cis.service_total AS sub_service_total,
            cis.service_used AS sub_service_used,
            cis.add_time AS sub_add_time,
            cis.update_time AS sub_update_time,
            cis.deleted AS sub_deleted,
            cis.tenant_id AS sub_tenant_id,
            cis.version AS sub_version
        FROM
            car_service_insurance_info csi
        LEFT JOIN
            car_service_insurance_service cis ON csi.id = cis.insurance_info_id
    </sql>

    <select id="selectCarServiceInsuranceInfoList" resultMap="CarServiceInsuranceInfoResult">
        <include refid="selectCarServiceInsuranceInfoVo"/>
        ${ew.customSqlSegment}
    </select>
</mapper>