<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.click.carservice.db.mapper.OrderGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.click.carservice.db.domain.CarServiceOrderGoods">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="goods_sn" property="goodsSn"/>
        <result column="product_id" property="productId"/>
        <result column="number" property="number"/>
        <result column="price" property="price"/>
        <result column="specifications" property="specifications"
                typeHandler="org.click.carservice.db.handler.JsonStringArrayTypeHandler"/>
        <result column="pic_url" property="picUrl"/>
        <result column="comment" property="comment"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
    </resultMap>

    <select id="selectByBrandIds" resultMap="BaseResultMap">
        select * from car_service_order_goods
            <where>
                deleted = 0
                <if test="ids != null">
                    <foreach collection="list" item="id" index="index" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </if>
            </where>
    </select>
</mapper>
