<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.click.carservice.db.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.click.carservice.db.domain.CarServiceOrder">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="order_sn" property="orderSn"/>
        <result column="out_trade_no" property="outTradeNo"/>
        <result column="brand_id" property="brandId"/>
        <result column="order_status" property="orderStatus"/>
        <result column="aftersale_status" property="aftersaleStatus"/>
        <result column="consignee" property="consignee"/>
        <result column="mobile" property="mobile"/>
        <result column="address" property="address"/>
        <result column="message" property="message"/>
        <result column="goods_price" property="goodsPrice"/>
        <result column="freight_price" property="freightPrice"/>
        <result column="coupon_price" property="couponPrice"/>
        <result column="integral_price" property="integralPrice"/>
        <result column="groupon_price" property="grouponPrice"/>
        <result column="order_price" property="orderPrice"/>
        <result column="actual_price" property="actualPrice"/>
        <result column="pay_id" property="payId"/>
        <result column="pay_time" property="payTime"/>
        <result column="ship_sn" property="shipSn"/>
        <result column="ship_channel" property="shipChannel"/>
        <result column="ship_time" property="shipTime"/>
        <result column="refund_amount" property="refundAmount"/>
        <result column="refund_type" property="refundType"/>
        <result column="refund_content" property="refundContent"/>
        <result column="refund_time" property="refundTime"/>
        <result column="confirm_time" property="confirmTime"/>
        <result column="comments" property="comments"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="version" property="version"/>
    </resultMap>

</mapper>
